


@if (VerticalMiddle && !HorizontalMiddle)
{
    <div class="@Main @AddOn d-flex align-items-center">
        @ChildContent
    </div>
}
else if (HorizontalMiddle && !VerticalMiddle)
{
    <div class="@Main @AddOn d-flex justify-content-center">
        @ChildContent
    </div>
}
else if (VerticalMiddle && HorizontalMiddle)
{
    <div class="@Main @AddOn d-flex align-items-center justify-content-center">
        @ChildContent
    </div>
}
else
{
    <div class="@Main @AddOn">
        @ChildContent
    </div>
}
@code {
    [Parameter] public bool VerticalMiddle { get; set; } = false;
    [Parameter] public bool HorizontalMiddle { get; set; } = false;

    [Parameter] public string AddOn { get; set; }
    [Parameter] public string Main { get; set; } = "col-sm-12";
    [Parameter] public RenderFragment ChildContent { get; set; }

}
